@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'poppins-bold';
    src: url('../assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  }



*{
    margin: 0px;
}

body{
    background-color: #ECF6FF;
    

}


/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color:  #333;
    padding: 10px 20px;
}
.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}
.navbar .center-links {
    display: flex;
    gap: 20px;
}
.navbar .center-links a {
    color:  #333;
    text-decoration: none;
    font-size: 1em;
    font-family: 'inter';
}
.navbar .center-links a:hover {
    text-decoration: underline;
}
.navbar .connect {
    font-size: 1em;
}


/* company logo */
.logo{
    height: 40px;
    width: 70px;
}


/* main content */

.container{
   
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .card {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row; 
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 0;
    width: 50%; 
} */


.card {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    display: flex;
    justify-content: space-between; /* Align content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: row; /* Align items in a row */
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    margin: 0; /* Remove unnecessary margin */
    width: 50%; /* Allocate half the width */
    padding-left: 20px; /* Add some padding for spacing */
}






button{
    margin-top: 10px;
    padding: 10px;
    background-color: #06BEB6;
    border: none;
    color: white;
    font-family: 'inter';
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), 
                        background 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

button:hover {
    
    background: linear-gradient(to right, #48B1BF, #06BEB6);
    transform: scale(1.1);
}



.banner {
    height: auto; 
    max-height: 70%; 
    
}




h1{
    font-family: 'poppins';
 
  
}

h2{
    font-family: 'poppins';
    background: linear-gradient(to right, #06BEB6, #48B1BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
  
    font-family: 'inter';
}